
/* fonte */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Open Sans';
    color: white;
}
html{
    scroll-behavior: smooth;
}

/* custom scroll bar */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* all similar content styling codes */
section{
    padding: 100px 0;
}
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}


/* navbar styling */
.navbar{
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 30px 0;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s ease;
    letter-spacing: 2px;

    
}
.navbar.sticky{
    padding: 15px 0;
    background: black;
}
.navbar .max-width{
    display: flex;
    align-items: center;
    
}
.logo img{
    width: 200px;
    margin: 20px;
    margin-left: -30px;
}

.navbar .menu li{
    list-style: none;
    display: inline-block;
    border-top: 2px solid black;
    width: 20px;
    margin-left: 100px;
}
.navbar .menu li a{
    display: block;
    color: white;
    font-size: 15px;
    margin-left: 60px;
    border-top: 3px solid black;
    width: 20px;
}

.navbar .menu li a:hover{
    color: white;
    border-top: 3px solid #f2b90e;
    width: 20px;    
}

.navbar.sticky .menu li a:hover{
    color: white;
    border-top: 3px solid #f2b90e;
    width: 20px;
}

/* menu btn styling */
.menu-btn{
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
}


.scroll-up-btn{
    position: fixed;
    height: 45px;
    width: 42px;
    background: #d4a70e;
    right: 30px;
    bottom: 10px;
    text-align: center;
    line-height: 45px;
    color: #fff;
    z-index: 9999;
    font-size: 30px;
    border-radius: 6px;
    border-bottom-width: 2px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}
.scroll-up-btn.show{
    bottom: 30px;
    opacity: 1;
    pointer-events: auto;
}
.scroll-up-btn:hover{
    filter: brightness(90%);
}

/*''''''''''''''''''''''''''''''''''''''''''   INICIO   ''''''''''''''''''''''''''''''''''''''''''''*/
/*''''''''''''''''''''''''''''''''''''''''''   INICIO   ''''''''''''''''''''''''''''''''''''''''''''*/
/*''''''''''''''''''''''''''''''''''''''''''   INICIO   ''''''''''''''''''''''''''''''''''''''''''''*/
/*''''''''''''''''''''''''''''''''''''''''''   INICIO   ''''''''''''''''''''''''''''''''''''''''''''*/
/*''''''''''''''''''''''''''''''''''''''''''   INICIO   ''''''''''''''''''''''''''''''''''''''''''''*/
/*''''''''''''''''''''''''''''''''''''''''''   INICIO   ''''''''''''''''''''''''''''''''''''''''''''*/

.inicio{
    display: flex;
    background: url("img/background1.png") no-repeat center;
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
    color: #d4a70e;
    min-height: 500px;
    background-size: cover;
    background-attachment: fixed;
}

.foto{
  margin-right: 18%;
  margin-top: 5.5%;
}

.inicio-icones{
    margin: 100px;
    
}

.inicio-texto{
    width: 400px; 
}

/*---------------------------------------------------GRID - inicio */


.container {
    width: var(--containerSize);
    display: block;
    margin: 1 auto;
    margin-top: 90px;
}
.container-fluid {
    width: 100%;
    display: block;

}
.container:after {
    content: "";
    display: table;
    clear: both;
}

.row {
  display: flex;
  width: 100px;
      margin-top: 9px;
}

.coluna {
  flex-grow: 1;
  max-width: 100%;
  margin: 3px;
}

.coluna-2 {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 16.66666%;
  max-width: 16.66666%;
}

.coluna-6 {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 50%;
  max-width: 50%;
}

/* Visual */

.PAULO{
    height: 700px;
    margin-right: 120%;
    margin-left: -300px;
}

.inicio-texto2{ /*CONFIGURACAO PAULO*/
    font-size: 90px;
    font-family: 'Open Sans', Extra-bold 800;
    margin-right: 90%;
    font-weight: 800;
    margin: -60px;
    color: #d4a70e;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: #d4a70e;
}

.almeida {
    margin-left: -320px;
    padding: 20px;
}

.inicio-texto1{ /*CONFIGURACAO ALMEIDA*/
    font-size: 90px;
    font-family: 'Open Sans', Extra-bold 800;
    font-weight: 800;
    color: #d4a70e;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: #d4a70e;
    margin-right: 100%;
}


.linha {
    padding: -100px;
    margin-top: 49px;
    width: 36.7rem;
    margin-right: 86%;
    margin-left: -54rem; 
    border-radius: 200rem;
}

.inicio-linha{
 
  height: .2rem;
  background-color: white;
  border-radius: 100rem;
  background: #d4a70e;

}

.icones {
    padding: 70px;
    margin-top: -102%;
    margin-left: -510px;
}

#inicio-icones{
    margin-right: 60%;

}


.texto {
    margin-top: 115px;
    padding: 28px;
    width: 370px;
    margin-left: -390px;
    position: absolute;
}

.inicio-texto3{
    font-size: 14px;
    margin: -16px;
    color: white;
}

.espaço{
    margin: -5px;
    color: black;
}


.icone1 img {
    width: 20px;
    height: 20px;
}

.icone2 img {
    width: 20px;
    height: 20px;
}

.icone3 img {
    width: 20px;
    height: 20px;
}


.icone4 img {
    width: 20px;
    height: 20px;
}
/*''''''''''''''''''''''''''''''''''''''''''   SOBRE   ''''''''''''''''''''''''''''''''''''''''''''*/
/*''''''''''''''''''''''''''''''''''''''''''   SOBRE   ''''''''''''''''''''''''''''''''''''''''''''*/
/*''''''''''''''''''''''''''''''''''''''''''   SOBRE   ''''''''''''''''''''''''''''''''''''''''''''*/
/*''''''''''''''''''''''''''''''''''''''''''   SOBRE   ''''''''''''''''''''''''''''''''''''''''''''*/
/*''''''''''''''''''''''''''''''''''''''''''   SOBRE   ''''''''''''''''''''''''''''''''''''''''''''*/
/*''''''''''''''''''''''''''''''''''''''''''   SOBRE   ''''''''''''''''''''''''''''''''''''''''''''*/


.sobre{
    background-image: url("img/back.jpg"); 
    height: 700px;
    margin-left: -100px;
}


.texto-sobre1{
    font-size: 13px;
    width: 350px;
    margin-left: 34%;
    margin-top: 10px;
}

.espaço1{
    margin: -10px;
    color: black;
    color: rgba(0, 0, 0, 0);
}

.text{
 width: 600px;
 margin: 2px;
}

.titulo-sobre{
    font-size: 80px;
    font-family: 'Open Sans', Extra-bold 800;
    margin-right: 50%;
    font-weight: 800;
    margin-top: 70px;
    margin-left: 230px;
    color: #d4a70e;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: #d4a70e;
}
.caixa{
    margin-left: -150px;
}
.caixa1{
    width: 701px;
    max-width: 1000px;
    margin: 1 auto;
    border: 1px solid #d4a70e;
    border-radius: 40px;
    margin-left: -80px;
}

.texto-sobre2{
    font-size: 13px;
    width: 350px;
    margin-left: 10%;   
    margin-top: 10px;
}

.caixa2{
    width: 900px;
    max-width: 1200px;
    margin: 1 auto;
    margin-left: 70px;
}

.imagem-sobre{
    width: 200px;
    margin: 55px;
}
.bot button{
    background: #d4a70e; 
    border-radius: 60px; 
    padding: 10px; 
    cursor: pointer; 
    color: #fff; 
    border: none; 
    font-size: 14px;
    margin-left: 2rem;

}
.grid-start{
    display: flex;
}

/*''''''''''''''''''''''''''''''''''''''''''   CONTATO   ''''''''''''''''''''''''''''''''''''''''''''*/
/*''''''''''''''''''''''''''''''''''''''''''   CONTATO   ''''''''''''''''''''''''''''''''''''''''''''*/
/*''''''''''''''''''''''''''''''''''''''''''   CONTATO   ''''''''''''''''''''''''''''''''''''''''''''*/
/*''''''''''''''''''''''''''''''''''''''''''   CONTATO   ''''''''''''''''''''''''''''''''''''''''''''*/
/*''''''''''''''''''''''''''''''''''''''''''   CONTATO   ''''''''''''''''''''''''''''''''''''''''''''*/
/*''''''''''''''''''''''''''''''''''''''''''   CONTATO   ''''''''''''''''''''''''''''''''''''''''''''*/

.contato{
    background: black;
    height: 80vh;
}

.contato-navbar{
    margin-left: 10rem;


    
}
}

.contato-icone1{
    margin-right: 20px;
    margin-left: 20px;
}

.contato-icone2{
    margin-right: 20px;
    margin-left: 20px;
}

.contato-icone3{
    margin-right: 20px;
    margin-left: 20px;
}

.contato-icone4{
    margin-right: 20px;
    margin-left: 20px;
}

.contato-info{
    margin-left: 200px;
}

.contato .contato-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center; 
    margin-top: 100px;  
}




.contato-navbar .menu li a:hover{
    color: white;
     border-top: 3px solid #f2b90e;
    width: 20px;

}


.contato-navbar .menu li a{
    font-weight: 500;
   
}

.margem{
    width: 84.7rem;
    border-radius: 100rem;
}
.contato-margem{
  
  background-color: #f2b90e;
 }



/*---------------------------------------media query----------------------------------*/
/*---------------------------------------media query----------------------------------*/
/*---------------------------------------media query----------------------------------*/
/*---------------------------------------media query----------------------------------*/
/*---------------------------------------media query----------------------------------*/
/*---------------------------------------media query----------------------------------*/
/*---------------------------------------media query----------------------------------*/
/*---------------------------------------media query----------------------------------*/
/*---------------------------------------media query----------------------------------*/
/*---------------------------------------media query----------------------------------*/


@media (max-width: 991px) {
.menu-btn{
    color: white;
    font-size: 23px;
    cursor: pointer;
    display: none;
    margin-left: -280px;
}
i.active:before {
    content: "\f00d";

}

.logo img{
    width: 200px;
    margin-left: 40px;
}
.container {
    margin-top: 80px;
    margin-left: 120px;
}


.PAULO{
    margin-right: 90%;
    margin-left: 50px;
    letter-spacing: 1px;
}

.inicio-texto2{ /*Paulo config*/
    font-size: 60px;
    margin-left: -150px;
    margin-top: -70px;
    
}

.almeida {
    margin-left: -160px;
    margin-right: 280px;
    padding: 20px;
    letter-spacing: 1px;
}

.inicio-texto1{ /*almeida config*/
    font-size: 60px;
    margin-top: -25px; 
}


.linha {
    margin-top: 6px;
    width: 33.5rem;
    margin-right: 86%;
    margin-left: -41rem; 
    border-radius: 100rem;
}


.texto {
    margin-top: 55px;
    padding: 28px;
    width: 230px;
    margin-left: -250px;
    position: absolute;
}

.inicio-texto3{
    font-size: 14px;
    margin: -10px;
}

.icones {
    margin-top: -34px;
    margin-left: -360px;
}
.icone1 img {
    width: 25px;
    height: 25px;
}

.icone2 img {
    width: 25px;
    height: 25px;
}

.icone3 img {
    width: 25px;
    height: 25px;
}

.icone4 img {
    width: 25px;
    height: 25px;
}


.espaço{
    margin: -1px;
    color: black;
}

.grid-start{
    display: block;
}

/*---------------------------------------media query MENOR----------------------------------*/
/*---------------------------------------media query MENOR----------------------------------*/
/*---------------------------------------media query MENOR----------------------------------*/
/*---------------------------------------media query MENOR----------------------------------*/
/*---------------------------------------media query MENOR----------------------------------*/
/*---------------------------------------media query MENOR----------------------------------*/

/*''''''''''''''''''''''''''''''''   INICIO   '''''''''''''''''''''''''''''''''''''*/
/*''''''''''''''''''''''''''''''''   INICIO   '''''''''''''''''''''''''''''''''''''*/
/*''''''''''''''''''''''''''''''''   INICIO   '''''''''''''''''''''''''''''''''''''*/
/*''''''''''''''''''''''''''''''''   INICIO   '''''''''''''''''''''''''''''''''''''*/

@media (max-width: 947px){

.max-width{

    margin-left: 30px;
}

    .inicio{
    display: flex;
    height: 100vh;
    color: #fbfbfb;
    min-height: 500px;
    background-size: cover;
    background-attachment: fixed;

}
    .menu-btn{
        display: block;
        z-index: 999;
}
    .menu-btn i.active:before{
        content: "\f00d";
        margin-left: 15rem;
}
    .navbar .menu{
        position: fixed;
        width: 100%;
        left: -100%;
        top: 0;
        background: black;
        text-align: center;
        padding-top: 60px;
        transition: all 0.3s ease;
}
    .navbar .menu.active{
        left: 0;

}
    .navbar .menu li{
        display: block;
}
    .navbar .menu li a{
        display: inline-block;
        margin: 10px 0;
        font-size: 15px;
}
    
    .owl-dot{
    height: 10px;
    width: 9px;
    margin: 0px;
    outline: none!important;
    border-radius: 50%;
    border: 2px solid #BB2020!important;
 
}

/*''''''''''''''''''''''''''''''''   SOBRE   '''''''''''''''''''''''''''''''''''''*/
/*''''''''''''''''''''''''''''''''   SOBRE   '''''''''''''''''''''''''''''''''''''*/
/*''''''''''''''''''''''''''''''''   SOBRE   '''''''''''''''''''''''''''''''''''''*/
/*''''''''''''''''''''''''''''''''   SOBRE   '''''''''''''''''''''''''''''''''''''*/



.sobre{
    background-image: url("img/back.jpg"); 
    height: 880px;
    display: block;
    margin-left: 0px;
    
}

.texto-sobre1{
    font-size: 13px;
    width: 280px;
    margin-left: 24%;
    margin-top: 10px;
}

.espaço1{
    margin: -10px;
    color: black;
    color: rgba(0, 0, 0, 0);
}

.text{
 width: 200px;
 margin: 2px;
}

.titulo-sobre{
    font-size: 50px;
    font-family: 'Open Sans', Extra-bold 800;
    margin-right: 50%;
    font-weight: 700;
    margin-top: 10px;
    margin-left: 100px;
    color: #d4a70e;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: #d4a70e;
}

.caixa1{
    width: 400px;
    margin-left: -70px;
    margin-top: -84px;
}

.texto-sobre2{
    font-size: 13px;
    width: 280px;
    margin-left: 0%;   
    margin-top: 10px;
}

.caixa2{
    width: 200px;
    max-width: 1200px;
    margin: 1 auto;
    margin-left: 36px;
}

.caixa{
 margin-left: 0px;
}
.margem{
    width: 30.6rem;
    border-radius: 100rem;
}

/*''''''''''''''''''''''''''''''''   CONTATO   '''''''''''''''''''''''''''''''''''''*/
/*''''''''''''''''''''''''''''''''   CONTATO   '''''''''''''''''''''''''''''''''''''*/
/*''''''''''''''''''''''''''''''''   CONTATO   '''''''''''''''''''''''''''''''''''''*/
/*''''''''''''''''''''''''''''''''   CONTATO   '''''''''''''''''''''''''''''''''''''*/


.contato{
 margin: 0px; 
}


.contato-icone1{
    margin-right: 20px;
    margin-left: -28px;
}

.contato-icone2{
    margin-right: 20px;
    margin-left: 20px;
}

.contato-icone3{
    margin-right: 20px;
    margin-left: 20px;
}

.contato-icone4{
    margin-right: 20px;
    margin-left: 20px;
}

.contato-info{
    margin-left: 50px;
    margin-top: -5rem; 
}
.contato-navbar{

    margin-left: -100px;
}

.contato-content{
     display: block;

}

.contato-navbar{
    width: 100%; 
    font-family: 'Open Sans', sans-serif;      
    text-transform: uppercase;
    letter-spacing: 4px;
 
}


.contato-navbar .menu li a:hover{
    color: white;
}


.contato-navbar .menu li a{
    display: block;
    color: white;
    font-size: 12px;
    font-weight: 500;
    list-style-position: center;
    margin-left: 180px;
    transition: color 0.3s ease;
}

.contato-icones{
    margin-left: 30px;
}




@media (max-width: 690px) {
    .inicio{
    display: flex;
    background: url("images/background.png") no-repeat center;
    height: 100vh;
    color: #fbfbfb;
    min-height: 500px;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Ubuntu', sans-serif;
}
  
    .max-width{
        padding: 0 23px;
    }
    .inicio .inicio-content .text-2{
        font-size: 60px;
    }
    .inicio .inicio-content .text-3{
        font-size: 32px;
    }
    .inicio .inicio-content a{
        font-size: 20px;
    }
    .servicos .serv-content .card{
        width: 100%;
    }
        .owl-dot{
    height: 10px;
    width: 9px;
    margin: 0 5px;
    outline: none!important;
    border-radius: 50%;
    border: 2px solid #BB2020!important;
 
}

@media (max-width: 500px) {
    .inicio{
    display: flex;
    background: url("images/background.png") no-repeat center;
    height: 100vh;
    color: #fbfbfb;
    min-height: 500px;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Ubuntu', sans-serif;
}
  
        
   
    .inicio .inicio-content .text-2{
        font-size: 50px;
    }
    .inicio .inicio-content .text-3{
        font-size: 27px;
    }
    .sobre .sobre-content .right .text,
    .ferramentas .ferramentas-content .left .text{
        font-size: 19px;
    }
    .contato .right form .fields{
        flex-direction: column;
    }
    .contato .right form .name,
    .contato .right form .email{
        margin: 0;
    }
    .right form .error-box{
       width: 150px;
    }
    .scroll-up-btn{
        right: 15px;
        bottom: 15px;
        height: 38px;
        width: 35px;
        font-size: 23px;
        line-height: 38px;
    }
        .owl-dot{
    height: 10px;
    width: 9px;
    margin: 0 5px;
    outline: none!important;
    border-radius: 50%;
    border: 2px solid #BB2020!important;
 
}
